/**
 * @name NordGlass
 * @author Balma
 * @version 1.0.0
 * @description A nord theme 
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/4kulhBc.png');
  --background-image-blur: 1px;
  --background-image-size: auto;
  --background-image-position: center;
  --popout-image: transparent;
  --popout-image-blur: 1px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: transparent;
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/c9rn5no.png');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.14;
  --left-brightness: 0.14;
  --middle-brightness: 0.14;
  --right-brightness: 0.04;
  --overlay-brightness: 0.82;
  --gradient-primary: 46,52,64;
  --gradient-secondary: 78,88,108;
  --link-colour: #5E81AC;
  --scrollbar-colour: rgb(67,76,94,1);
  --gradient-direction: 320deg;
  --tint-colour: 76,86,106;
  --tint-brightness: 0.1;
  --font: gg sans;
  --window-padding: 18px;
  --window-roundness: 18px;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 1.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 3.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #4CAF50;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/4kulhBc.png');
  --background-image-blur: 1px;
  --background-image-size: auto;
  --background-image-position: center;
  --popout-image: transparent;
  --popout-image-blur: 1px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: transparent;
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/c9rn5no.png');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.14;
  --left-brightness: 0.14;
  --middle-brightness: 0.14;
  --right-brightness: 0.04;
  --overlay-brightness: 0.82;
  --gradient-primary: 72,92,134;
  --gradient-secondary: 78,88,108;
  --link-colour: #5E81AC;
  --scrollbar-colour: rgb(67,76,94,1);
  --gradient-direction: 320deg;
  --tint-colour: 76,86,106;
  --tint-brightness: 0.1;
  --font: gg sans;
  --window-padding: 18px;
  --window-roundness: 18px;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 1.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 3.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #4CAF50;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}
